{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {;; bases
                               poly/rcf {:local/root "bases/rcf"}
                               poly/issue-261 {:local/root "bases/issue-261"}
                               ;; components
                               poly/sqldb {:local/root "components/sqldb"}

                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["bases/rcf/test"
                                 "projects/rcf/test"
                                 "bases/issue-261/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts []
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "9053b190d5f3b0680ac4fe5c5f1851f7c0d40830"
                                 :deps/root "projects/poly"}}}}}
